POSTGRES_DB=blooming
POSTGRES_USER=blooming
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_PORT=5432
SECRET_KEY=your-super-secret-key-that-is-at-least-32-bytes-long
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_sender_email
BREVO_SENDER_NAME=your_sender_name
EMAIL_VERIFICATION_FRONTEND_URL=http://localhost:1420/verify-email